<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>

<h1>Orders</h1>
<%= link_to 'Orders', controller: 'orders' %>
<%= link_to 'New Order', new_order_path %>

<h1>Schedules</h1>
<%= link_to 'Schedules', controller: 'schedules' %>

<h1>View Products</h1>
<%= link_to 'Products', controller: 'products' %>