<h1>Editing Raw Material Product</h1>

<%= render 'form', raw_material_product: @raw_material_product %>

<%= link_to 'Show', @raw_material_product %> |
<%= link_to 'Back', raw_material_products_path %>
